footer {
    right: 20px;
    position: fixed;
    bottom: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 -3px 20px rgb(0 0 0 / 35%);
    border-radius: 8px;
    border: 1px solid rgb(122 122 122 / 29%);
    backdrop-filter: blur(12px);
}
footer > a {
    color: #a5b3c3;
}
footer > a:hover {
    color: #5b84b0;
}